#myGallery {
	width: 600px;
	margin: 50px auto 0px;
	height: 418px;
}
#myGallery img {
	border: 2px solid #52697E;
}
a.loading {
	background: #fff url(../images/ajax_small.gif) no-repeat center;
}
figure {
	border: 1px #cccccc solid;
	padding: 4px;
	margin: auto;
  }
  
  figcaption {
	background-color: black;
	color: white;
	font-style: italic;
	padding: 2px;
	text-align: center;
  }